img/out*
data/*
!data/Goell2012
!data/doc/*
!data/IrradiationFluxProfiles/*
!data/PTR3D.pvsm
notebooks/experimental
# Manifest.toml
docs/build
docs/src/examples
docs/src/notebooks
.vscode/*
*_auth_token.txt
\#*
*.mp4
